.project
.settings
.classpath
.git defekt/*

osmcb/*    
bin/*
build/*
mapsources/*
tilestore/*
misc/Example*
misc/spare/*
src/test/*

*.class

OSeaMChartBundler.log
OSMChartBundler*.zip
settings-*.xml
OSMChartBundler.jar
RegEx templates
README*
src/main/resources/osmcb/resources/text/mobac.strings
/bin/
/ColorPalette.txt
/doc/
/OSeaMChartBundler.log
/misc/
/settings.xml
/.git defekt/
/log4j.xml
/OSeaMChartBundler.jar
